{% extends 'base.html.twig' %}

{% block title %}tokenApiPlatform{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1 class="text-align-center">tokenApiPlatform</h1>

        <div id="editor_holder"></div>
        <button id='submit'>Submit (console.log)</button>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>

    <script>

    document.addEventListener("DOMContentLoaded", () => {

    {# si il y a du json (en edit) alors ne charge pas la simulation de click #}

      console.log("Hello World!");

        var pouet = document.getElementsByClassName('json-editor-btntype-add');

        console.log(pouet[1].click());  
      });
      // Initialize the editor with a JSON schema
      var editor = new JSONEditor(document.getElementById('editor_holder'),{
        schema: {
          type: "object",
          title: "Token",
         
          properties: {
        
              tokens: {
                type: 'array',
                format: 'table',
                title: 'Token',
                items: {
                  type: 'object',
                  title: 'Entity',
                    properties: {
                      Entités: {
                        type: 'string',
                        enum: [
                          "Articles",
                          "Category",
                        ],
                      },
                    Permissions: {
                      type: "array",
                      uniqueItems: true,
                      items: {
                        type: "string",
                        enum: ["browse", "read", "edit", "add", "delete"]
                      }
                    },
                  }
                },
              } 
          }
        }
      });

      // Hook up the submit button to log to the console
      document.getElementById('submit').addEventListener('click',function() {
        // Get the value from the editor
        console.log(editor.getValue());

       const editor = new JSONEditor(element,{
          schema: schema,
          theme: 'bootstrap5'
        });
      });

    </script>
{% endblock %}
