h1 {
   text-align: center;
   padding: 30px;
} 

#editor_holder {

    .je-header {
      display: none;
    }
    width: 100%;
    padding: 0;
    .je-object__container {
      width: 100%;
    }

    .json-editor-btntype-properties i {
        display: none;
      }
    
      .json-editor-btntype-properties span {
         display: none;
      }  

      .je-object__controls {
        padding: 20px;
        border-radius: 10px;
      }

      .json-editor-btn-edit {
        padding: 5px;
        border-radius: 8px;
        background-color: #ffffff;
        border: 1px solid #333;
      }

      .json-editor-btn-delete {
        display: none;
      }

      .json-editor-btn-movedown {
        display: none;
      }

      .json-editor-btn-moveup {
        display: none;
      }

      .json-editor-btn-edit_properties {
        display: none;
      }

      .json-editor-btn-add {
        border-radius: 8px;
        background-color: #ffffff;
        border: 1px solid #333;
        padding: 5px;
      }

      .json-editor-btn-subtract {
        border-radius: 8px;
        background-color: #ffffff;
        border: 1px solid #333;
        margin-left: 10px;
        padding: 5px;
      }
    
      .je-indented-panel {
        border-style: none;
      }

      .je-table {
        padding: 20px;
        margin-bottom: 30px;
        border-radius: 10px;
        border: 1px solid #333;
        display: flex;
        justify-content:space-between;
        align-items:center;
        flex-direction: column;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

        .compact {
          display: flex;
          justify-content:space-between;
          align-items:center;
          flex-direction: column;
          width: 100%;
          margin-top: 20px;
        }
        .control-group {
            padding: 30px;
            display:flex;
            justify-content: center;
            width: 100%;
            @media only screen and (max-width: 900px) {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
            .form-control {
              min-width: 100px;
              margin-right: 0;
              border: 1px solid #333;
              @media only screen and (max-width: 900px) {
                margin-bottom: 20px;
              }
            }
        }
        .form-control {
          display: flex;
          justify-content:space-between;
          align-items:center;
          flex-direction: column;
          border-style: none;
          width: min-content;
        }
      }

      .compact {
        width: 100%;
      }

    .je-table th {
      display: none;
    }
}


.permissionCheckbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .form-check {
    margin-right: 15px;
  }
}

.nameEntity {
  margin-right: 10px;
}
// .formToken {
//   background-color: aqua;
// }