h1 {
   text-align: center;
   padding: 30px;
} 

#editor_holder {


    .je-header {
      // border: 2px solid red !important;
      display: none;
    }
    // background-color: darksalmon !important;
    // border: 2px solid rgb(0, 213, 255);
    padding: 20px;
    width: 100%;
    // border: 2px solid red;

    .je-object__container {
      width: 100%;
      // border: 2px solid rgb(0, 255, 128);
    }

    .json-editor-btntype-properties i {
        // border: 2px solid red !important;
        display: none;
      }
    
      .json-editor-btntype-properties span {
        // border: 2px solid red !important;
         display: none;
      }  

      .je-object__controls {
        padding: 20px;
        border-radius: 10px;
        // border: 2px solid red !important;
      }

      .json-editor-btn-edit {
        margin: 10px;
        border-radius: 10px;
        border: 2px solid red !important;
        // background-color: aqua;
      }

      .json-editor-btn-delete {
        display: none;
      }

      .json-editor-btn-movedown {
        display: none;
      }

      .json-editor-btn-moveup {
        display: none;
      }

      .json-editor-btn-edit_properties {
        display: none;
        // margin: 10px;
        // border-radius: 10px;
        // border: 2px solid red !important;
        // background-color: aqua;
      }

      .json-editor-btn-add {
        margin: 10px;
        border-radius: 10px;
        border: 2px solid red !important;
      }

      .json-editor-btn-subtract {
        margin: 10px;
        border-radius: 10px;
        border: 2px solid red !important;
      }
    
      .je-indented-panel {
        border-style: none;
      }
      .je-indented-panel {
        // border-style: none;
        // border: 2px solid rgb(242, 255, 0);
      }

      .je-table {
        padding: 20px;
        border-radius: 10px;
        border: 2px solid red;
        display: flex;
        justify-content:space-between;
        align-items:center;
        flex-direction: column;
        width: 100%;
        // background-color: darkseagreen;
        .compact {
          // border: 2px solid red !important;
          // padding: 20px;
          display: flex;
          justify-content:space-between;
          align-items:center;
          flex-direction: column;
          width: 100%;
        }
        .control-group {
            // border: 2px solid rgb(51, 0, 255);
            padding: 30px;
            display:flex;
            justify-content: center;
            width: 100%;
            // background-color: darkseagreen;
        }
        .form-control {
            margin-bottom: 5px;
            // border-style: none;
            // padding: 20px;
            border: 2px solid rgb(255, 0, 255);
            display: flex;
          justify-content:space-between;
          align-items:center;
          flex-direction: column;
        }
      }

      .compact {
        width: 100%;
      }
    //   h3 {
    //     display: none;
    //   }
}


