{% extends 'base.html.twig' %}

{% block title %}Edit Tokens{% endblock %}

{% block body %}
    <h1>Edit Tokens</h1>

    {{ include('tokens/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tokens_index') }}">back to list</a>

    {{ include('tokens/_delete_form.html.twig') }}
{% endblock %}
