{% extends 'base.html.twig' %}

{% block title %}New Tokens{% endblock %}

{% block body %}
    <h1>Create new Tokens</h1>

    {{ include('tokens/_form.html.twig') }}

    <a href="{{ path('app_tokens_index') }}">back to list</a>
{% endblock %}
